<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Workout Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../starter-template.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div th:replace="templates/header :: header">header</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2 th:text="${lastWorkout.workoutType} + ' - ' + ${lastWorkout.workoutDate}">blah</h2>
            <span th:each="exercise : ${lastWorkout.performedExercises}">
                <dl>
                    <dt th:text="${exercise.name}">name</dt>
                    <dd th:each="workoutSet : ${exercise.workoutSet}" th:text="${workoutSet.reps} + ' - '  +  ${workoutSet.weight} + ' KG'">
                        <!--<i th:if="${workoutSet.achieved}" class="fa fa-check" aria-hidden="true"></i>
                        <i th:unless="${workoutSet.achieved}" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        -->
                    </dd>
                </dl>
            </span>
        </div>
        <div class="col-md-6">
            <h2 th:text="${nextWorkout.workoutType} + ' - ' + ${nextWorkout.workoutDate}">blah</h2>
            <span th:each="nextExercise : ${nextWorkout.performedExercises}">
                <dl>
                    <dt th:text="${nextExercise.name}">name</dt>
                    <dd th:each="workoutSet : ${nextExercise.workoutSet}"  th:text="${workoutSet.reps} + ' - ' +  ${workoutSet.weight} + ' KG'">
                        <!--<i th:if="${workoutSet.achieved}" class="fa fa-check" aria-hidden="true"></i>
                        <i th:unless="${workoutSet.achieved}" class="fa fa-exclamation-triangle" aria-hidden="true"></i>-->
                    </dd>
                </dl>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <p>&nbsp;</p>
        </div>
        <div class="col-md-1">
            <p><a class="btn btn-default" href="#" role="button">Log new</a></p>
        </div>
    </div>

    <hr/>

    <div th:replace="templates/footer :: footer">footer</div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../jquery.min.js"></script>
<script src="../bootstrap.min.js"></script>
</body>
</html>
